@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About";
}

<div class="All-Header">
    <div class="All-Content">
        <h3 class="text-white mt-5">About</h3>
    </div>
</div>
<section>
    <div class="container">
        <h1 class="content text-center mt-5 fst-italic">About Us</h1>
        <div class="row">
            <div class="col-lg-6 col-md-12 order-lg-2">
                <div class="ItemAbout my-4">
                    <img src="../img/comp/About-picture.jpg" alt="pic"/>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 order-lg-1 m-auto">
                <div class="ItemAbout my-4">
                    <h1>Wellcome To G Rental</h1>
                    <p class="mb-4 mx-auto">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae, explicabo iste a labore 
                        id est quas, doloremque veritatis! Provident odit pariatur dolorem quisquam, voluptatibus voluptates optio accusamus, 
                        vel quasi quidem explicabo iste a labore id est quas, doloremque veritatis! Provident odit pariatur dolorem quisquam 
                        explicabo iste a labore id est quas, doloremque veritatis! Provident odit pariatur dolorem quisquam.</p>
                    <a class="btn-about">Rent Car</a>
                </div>
            </div>
        </div>
    </div>
</section>
